EntityBPMPOC/IProExpenseProcess/businessCatalog/IProExpenses/EmailNotifyModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1" build="0174" fullName="IProExpenses.EmailNotifyModel" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/IProExpenses/EmailNotifyModel" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/IProExpenses/EmailNotifyModel"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="EmailNotifyModelType">
        <xs:sequence>
            <xs:element name="ipro_user" nillable="true" type="xs:string"/>
            <xs:element name="amount" nillable="true" type="xs:string"/>
            <xs:element name="ipromanager_email" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="EmailNotifyModel" type="EmailNotifyModelType"/>
</xs:schema>
