EntityBPMPOC/IProExpenseProcess/businessCatalog/IProExpenses/ExpensesApprovalModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1" build="0174" fullName="IProExpenses.ExpensesApprovalModel" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/IProExpenses/ExpensesApprovalModel" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/IProExpenses/ExpensesApprovalModel"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="ExpensesApprovalModelType">
        <xs:sequence>
            <xs:element name="expenseAmount" nillable="true" type="xs:string"/>
            <xs:element name="expenseDescription" nillable="true" type="xs:string"/>
            <xs:element name="expenseDateIncured" nillable="true" type="xs:string"/>
            <xs:element name="expenseDateSubmitted" nillable="true" type="xs:string"/>
            <xs:element name="expenseUserId" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ExpensesApprovalModel" type="ExpensesApprovalModelType"/>
</xs:schema>
