EntityBPMPOC/IProExpenseProcess/businessCatalog/IProExpenses/ExpenseManagerOfCustomerExecutives.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1" build="0174" fullName="IProExpenses.ExpenseManagerOfCustomerExecutives" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/IProExpenses/ExpenseManagerOfCustomerExecutives" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/IProExpenses/ExpenseManagerOfCustomerExecutives"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="ExpenseManagerOfCustomerExecutivesType">
        <xs:sequence>
            <xs:element name="amount" nillable="true" type="xs:string"/>
            <xs:element name="ipro_user" nillable="true" type="xs:string"/>
            <xs:element name="ipro_manager" nillable="true" type="xs:string"/>
            <xs:element name="date_incured" nillable="true" type="xs:string"/>
            <xs:element name="notes" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ExpenseManagerOfCustomerExecutives" type="ExpenseManagerOfCustomerExecutivesType"/>
</xs:schema>
