EntityBPMPOC/IProExpenseProcess/businessCatalog/IProExpenses/ExpensesSubmitReadWS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1" build="0174" fullName="IProExpenses.ExpensesSubmitReadWS" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/IProExpenses/ExpensesSubmitReadWS" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/IProExpenses/ExpensesSubmitReadWS"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="ExpensesSubmitReadWSType">
        <xs:sequence>
            <xs:element name="amount" nillable="true" type="xs:string"/>
            <xs:element name="description" nillable="true" type="xs:string"/>
            <xs:element name="entry_id" nillable="true" type="xs:string"/>
            <xs:element name="date_incured" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ExpensesSubmitReadWS" type="ExpensesSubmitReadWSType"/>
</xs:schema>
