EntityBPMPOC/IProExpenseProcess/businessCatalog/IProExpenses/ExpensesList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1" build="0174" fullName="IProExpenses.ExpensesList" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/IProExpenses/ExpensesList" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/IProExpenses/ExpensesList"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="ExpensesListType">
        <xs:sequence>
            <xs:element name="amount" nillable="true" type="xs:string"/>
            <xs:element name="incured_date" nillable="true" type="xs:string"/>
            <xs:element name="description" nillable="true" type="xs:string"/>
            <xs:element name="user_id" nillable="true" type="xs:string"/>
            <xs:element name="entry_id" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ExpensesList" type="ExpensesListType"/>
</xs:schema>
