EntityBPMPOC/IProExpenseProcess/businessCatalog/IProExpenses/ExpensesOpsSupport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1" build="0174" fullName="IProExpenses.ExpensesOpsSupport" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/IProExpenses/ExpensesOpsSupport" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/IProExpenses/ExpensesOpsSupport"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="ExpensesOpsSupportType">
        <xs:sequence>
            <xs:element name="entry_id" nillable="true" type="xs:string"/>
            <xs:element name="ipro_user" nillable="true" type="xs:string"/>
            <xs:element name="receipt_id" nillable="true" type="xs:string"/>
            <xs:element name="ipromanager_notes" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ExpensesOpsSupport" type="ExpensesOpsSupportType"/>
</xs:schema>
