EntityBPMPOC/IProExpenseProcess/businessCatalog/IProExpenses/ManagerOutcome.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1" build="0174" fullName="IProExpenses.ManagerOutcome" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/IProExpenses/ManagerOutcome" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/IProExpenses/ManagerOutcome"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="ManagerOutcomeType">
        <xs:sequence>
            <xs:element name="outcome" nillable="true" type="xs:string"/>
            <xs:element name="isAssigned" nillable="true" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ManagerOutcome" type="ManagerOutcomeType"/>
</xs:schema>
