EntityBPMPOC/IProExpenses/deploy/sca_IProExpenses_rev1.0.zip Folder/businessCatalog/HelloWorldTypes/HelloWorldObject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1" build="0174" fullName="HelloWorldTypes.HelloWorldObject" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/HelloWorldTypes/HelloWorldObject" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/HelloWorldTypes/HelloWorldObject"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="HelloWorldObjectType">
        <xs:sequence>
            <xs:element name="date" default="2013-05-20" type="xs:date"/>
            <xs:element name="greeting" default="default string" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <bpmo:documentable>
                            <bpmo:description>
                                enter greeting
                            </bpmo:description>
                        </bpmo:documentable>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="message" default="default message" nillable="true" type="xs:string"/>
            <xs:element name="testnew" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="HelloWorldObject" type="HelloWorldObjectType"/>
</xs:schema>
