BPMSandpit/BPMExpenseProcess1/businessCatalog/Expenses/ExpensesToHumanTaskflow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1" build="0174" fullName="Expenses.ExpensesToHumanTaskflow" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Expenses/ExpensesToHumanTaskflow" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/Expenses/ExpensesToHumanTaskflow"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="ExpensesToHumanTaskflowType">
        <xs:sequence>
            <xs:element name="ht_amount" nillable="true" type="xs:string"/>
            <xs:element name="ht_description" nillable="true" type="xs:string"/>
            <xs:element name="ht_input1" nillable="true" type="xs:string"/>
            <xs:element name="ht_notes" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ExpensesToHumanTaskflow" type="ExpensesToHumanTaskflowType"/>
</xs:schema>
