BPMTestApplication1/HumanTaskFlow_Test1/businessCatalog/TestData/HumanTaskflow_Data1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1" build="0174" fullName="TestData.HumanTaskflow_Data1" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/TestData/HumanTaskflow_Data1" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/TestData/HumanTaskflow_Data1"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="HumanTaskflow_Data1Type">
        <xs:sequence>
            <xs:element name="input1" nillable="true" type="xs:string"/>
            <xs:element name="input2" nillable="true" type="xs:string"/>
            <xs:element name="notes" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="HumanTaskflow_Data1" type="HumanTaskflow_Data1Type"/>
</xs:schema>
