BPMSandpit/BPMExpenseProcess2/businessCatalog/Expense2/ExpenseEmailBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1" build="0174" fullName="Expense2.ExpenseEmailBO" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Expense2/ExpenseEmailBO" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/Expense2/ExpenseEmailBO"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="ExpenseEmailBOType">
        <xs:sequence>
            <xs:element name="ipro_user" nillable="true" type="xs:string"/>
            <xs:element name="amount" nillable="true" type="xs:string"/>
            <xs:element name="date_expense_incured" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ExpenseEmailBO" type="ExpenseEmailBOType"/>
</xs:schema>
