HelloWorld2_OBE/HelloWorldProject/businessCatalog/HelloTypes/TestDataObject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1" build="0174" fullName="HelloTypes.TestDataObject" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/HelloTypes/TestDataObject" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/HelloTypes/TestDataObject"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="TestDataObjectType">
        <xs:sequence>
            <xs:element name="input1" nillable="true" type="xs:string"/>
            <xs:element name="input2" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TestDataObject" type="TestDataObjectType"/>
</xs:schema>
