EntityBPMPOC/IProExpenseProcess/xsd/BPELEmail.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/EntityBPMPOC/IProExpenseProcess/BPELEmail"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="ipro_user" type="string"/>
    <element name="amount" type="string"/>
    <element name="current_user_email" type="string"/>
   </sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>